@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">전국 관광지 검색</h1>

    <div><button onclick = "location.href = './Home/Keyword'">검색하러가기</button></div>
</div>
