@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">부산 관광지 코스 추천</h1>
    <title>네이버 지도 api</title>

    <div><button>산</button> <button>바다</button> <button>카페</button></div>
</div>
