@{
    ViewData["Title"] = "Map Page";
}

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=310b2ab2eb8bf7b009c99be6f4014021"></script>
<div id="map" style="width:600px;height:600px;"></div>
<script>
	var container = document.getElementById('map');
	var options = {
		center: new kakao.maps.LatLng(33.450701, 126.570667),
		level: 3
	};

	var map = new kakao.maps.Map(container, options);	
</script>

<div><button onclick = "history.back()">돌아가기</button></div>